@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

.header__logo {
    font-family: Inter;
    font-weight: 400;
    font-size: 25px;
    color: black;
}
.menu__list {
    font-family: Inter;
    font-weight: 500;
    font-size: 25px;
    color: black;
    line-height: normal;
}
.header__container {
    height: 43px;
    width: 1288px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
    margin-left: 63px;
    margin-right: 89px;
}
.menu__list {
    display: flex;
    gap: 60px;       ;
}
a {
    text-decoration: none;
    color: #000;
}
[class*="__container"] {
    max-width: 1440px;
}
#purple a {
    color: #7319CD;
}
.text-image__container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.greeting {
    height: 30px;
    width: 90px;
    font-family: Inter;
    font-weight: 800;
    font-size: 25px;
    margin-top: 55px;
    margin-left: 112px;
    align-items: center;
}
.autor__name {
    height: 36px;
    width: 250px;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    margin-top: px;
    margin-left: 112px;
    color: #7319CD;
    align-items: center;
} 
.profession {
    height: 216px;
    width: 537px;
    font-family: Inter;
    font-weight: 800;
    font-size: 96px;
    margin-top: 20px;
    margin-left: 109px;
    color: #000;
    align-items: center;
}
.text {
    font-family: Inter; 
    font-weight: 400;
    font-size: 23px;
    width: 657px;
    height: 168px;
    align-items: center;
    margin-top: 20px;
    margin-left: 109px;
} 
.image {
    margin-top: 104px;
    margin-right: 107px;
    height: 467.38px;
    box-sizing: border-box;
    border: 1px solid #7319CD;
    box-shadow: 6px 5px 29px rgba(115, 25, 205, 0.5);
    transform: rotate(-0.17deg);
    border-radius: 170px 170px 140px 90px;
} 
.button1, .button2{
    width: 197px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 9px 4px 15px 0px rgba(115, 25, 205, 0.50);
    margin-top: 104px;
    margin-left: 112px;
}
.button1, .button2 {
    color: #000;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button1:hover,
.button2:hover {
    background-color: #7319CD; 
    color: #FFF;
}
.images {
    display: flex;
    width: 177px;
    justify-content: center;
    align-items: flex-end;
    gap: 18px;
    margin-left: 112px;
    margin-top: 65px;
}
.image4 img{
    width: 48px;
    height: 48px;
}